<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <h4><%= messages[i].username %></h4>
          <h2><%= messages[i].text %></h2>
          <h5><%= messages[i].added %></h5>
          <a href="/messages/<%= messages[i].id %>" class="button">Open</a>
        </li>
        <% } %>
      </ul>
      <a href="/new" class="button">Add Message</a>
    </div>
  </body>
</html>
